<h2>Your Recipes</h2>

<% if @recipes.empty? %>
  <%= flash[:message] = "No recipes found with your search." %>
<% else %>
  <%= flash[:message] = "Recipes found!" %>
  <p><%= "#{@recipes.count} recipes found for your search '#{params[:q]}'." %></p>

  <%= @recipes.each do |recipe| %>
  <h4><%= recipe["recipe"]["label"] %></h4>
  <ul>
    <li>Full Recipe: <%= recipe["recipe"]["url"] %></li>
    <li><img src="<%= recipe["recipe"]["image"] %>"></li>
      <% recipe["recipe"]["ingredientLines"].each do |ingredient| %>

      <% end %>
    </li>
  </ul>
  <% end %>
<% end %>
