<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>No Moo</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="top-bar">
        <div class="top-bar-left">
          <h2><a href="#">NO MOO</a></h2>
          <p>dairy-free recipes just for you</p>
        </div>

        <div class="top-bar-right search-bar">
          <%= form_tag(recipes_path, method: :get) do %>
            <div><%= label_tag "Search for recipes:" %></div>
            <div><%= text_field_tag :q %></div>
            <div><%= submit_tag "Search", :name => nil, class: "button" %></div>
          <% end %>
        </div>
      </nav>

      <section class='flash'>
        <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
        <% end %>
      </section>
    </header>

    <main>
      <%= yield %>

      <!-- sample foundaton pagination formatting -->
      <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li class="pagination-previous disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
      </ul>
    </main>

    <footer class="footer-bar">
      <div>
        <p class="text-center">powered by</p>
      </div>
      <div class="small-2 small-centered columns">
        <a href="https://developer.edamam.com/"><%= image_tag "logo.png" %></a>
      </div>
    </footer>
  </body>
</html>
